.prnt-main {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 300px
}

// :host {
//     ::ng-deep {
//         vc-svg-icon {
//             svg {
//                 height: 100px;
//                 width: 100px;
//             }

//         }
//     }
// }

.main {
    width: 100px;
    height: 100px;
}